
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;git 
}


html{
    font-size: 15px;
}


.container{
    height: 100vh;
    position: relative;
    background: linear-gradient(103.58deg, rgba(0, 10, 255, 0.5) 0.26%, rgba(88, 201, 0, 0.5) 100%);
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 188px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;                       
}



img{
    width: 100%;
    height: 100%;
}


.teamName{
    width: 10vw;
    height: auto;
    position: absolute;
    top: 66%;
    left: 45%;
    margin: auto;
    display: flex;
    text-align: center;
}


h3{ 
    width: 100%;
    height: 100%;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2em;
}


.homePage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
}


.navBar{
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}



.btn{
    position: absolute;
    width: 70.02px;
    height: 70px;
    background: rgba(5, 0, 251, 0.70);
    border-radius: 50%;
    border: none;
    box-shadow: -2px -2px 5px #f3f3cf,  2px 2px 5px rgb(65, 64, 63);
    transform: rotate(-30deg);
}

a{
    width: 100%;
    height: 100%;
    color: #00fff5;
    text-decoration: none;
}


.btnAbout{
    position: absolute;
    left: 24px;
    top: 73px;
}



.btnTeam{
position: absolute;
left: 100px;
top: 16px;
}


.btnContact{
    position: absolute;
    right: 28px;
    top: 16px;
    transform: rotate(30deg);
}


.btnContact:focus, .btnAbout:focus, .btnTeam:focus{
    background: linear-gradient(180deg, rgba(0, 251, 70, 0.65) 0%, rgba(0, 251, 70, 0.325) 100%);
}


/*.btnAbout:hover, .btnTeam:hover, .btnContact:hover{

}*/


.aboutUsPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(76.24deg, rgba(0, 10, 255, 0.5) 0%, rgba(88, 201, 0, 0.5) 100%);
}


.aboutUsContainer{
    position: relative;
    width: 50vw;
    height: 40vh;
}


.image {
    width: 300px;
    /* remove above later */
    height: 19vh;
    background-color: #ff0000;
    position: absolute;
    top: -25%;
    left: -10%;
    box-shadow: -10px 10px 20px 1px rgba(4, 0, 203, 0.45);
    z-index: -1;
}

.aboutUs{
    width:100%;
    height: 100%;
    background: linear-gradient(180deg, #0F52FF 0%, rgba(15, 82, 255, 0) 102.67%);
    border-radius: 31px;
}


.aboutUs>p {
    line-height: 6vh;
    font-size: 2.5rem;
    padding:9% 10%
}


.contactPage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: #FFFF95;
    height: 100vh;
    position: relative;
}


.contactInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    position: relative;
    top: 5vh;
}


.inputName{
    position: relative;
}


.inputMessage{
    position: relative;
    margin-top: 30px;
}


.inputEmail{
    position: relative;
    margin-top: 15px;
}


.inputNameImage {
    position: absolute;
    top: 2vh;
    left: 2vw;
}


.inputEmailImage{
    position: absolute;
    top: 2vh;
    left: 2vw;
}


.inputMessageImage{
    position: absolute;
    top: 2vh;
    left: 2vw;
}


input{
    height: 10vh;
    width: 40vw;
    background: linear-gradient(180deg, #5C6BF2 0%, rgba(92, 107, 242, 0) 198.08%);
    text-indent: 80px;
    color: rgb(27, 21, 21);
    box-shadow: -4px -4px 7px #f3f3e7,  4px 4px 7px rgb(65, 64, 63);
    border: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    outline: none;
}


::placeholder{
    color: black;
}


.inputName input{
    border-radius: 50px 50px 0px 0px;
}


.inputEmail input{
    border-radius: 0px 0px 50px 50px;
}


.inputMessage input{
    border-radius: 50px;
    padding-bottom: 35vh;
    padding-top: 30px;
}


.contactButton{
    width: 10vw;
    height: 8vh;
    margin: auto;
    margin-bottom: 10vh;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
    background-color: #5C6BF280;
    border: none;
    border-radius: 10px;
    box-shadow: -4px -4px 7px #f3f3e7,  4px 4px 7px rgb(65, 64, 63);
    outline: none;
    min-width: 90px;
}


.contactButton:active{
    box-shadow: inset -4px -4px 7px #f3f3e7, inset 4px 4px 7px rgb(65, 64, 63);
}


.contactInput img{
    width: 40px;
}
