
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FFFF95; */
}


html{
    font-size: 15px;
}


.container{
    /* overflow: scroll; */
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 188px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
                            
}



img{
    width: 100%;
    height: 100%;
}


.teamName{
    
    width: 188px;
    height: 100px;
    position: relative;
    top: 66%;
    margin: auto;
    display: flex;
    text-align: center;
}


h3{ 
    width: 188px;
    height: 100px;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2em;
}


.homePage{
    /*visibility: hidden;*/
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 2em;
    
}


.navBar{
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}



.btn{
    position: absolute;
    width: 70.02px;
    height: 70px;
    background: rgba(5, 0, 251, 0.53);
    border-radius: 50%;
    border: none;
    box-shadow: -2px -2px 5px #f3f3cf,  2px 2px 5px rgb(65, 64, 63);
    transform: rotate(-30deg);
}


.btnAbout{
    position: absolute;
    left: 24px;
    top: 73px;
}



.btnTeam{
position: absolute;
left: 100px;
top: 16px;
}


.btnContact{
    position: absolute;
    right: 28px;
    top: 16px;
    transform: rotate(30deg);
}


.btnContact:focus, .btnAbout:focus, .btnTeam:focus{
    background: linear-gradient(180deg, rgba(0, 251, 70, 0.65) 0%, rgba(0, 251, 70, 0.325) 100%);
}


/*.btnAbout:hover, .btnTeam:hover, .btnContact:hover{

}*/


.aboutUsPage{
    position: relative;
    background-color: aqua;
    height: 100vh;
    display: flex;
}


.aboutUsPage .image {
    width: 260px;
    height: 19vw;
    background-color: #ff0000;
    position: absolute;
    right: 62%;
    bottom: 54%;
    box-shadow: -10px 10px 20px 1px rgba(4, 0, 203, 0.45)
}


.aboutUsPage .aboutUs{
    width:597px;
    height: 350px;
    background: linear-gradient(180deg, #0F52FF 0%, rgba(15, 82, 255, 0) 102.67%);
    border-radius: 31px;
    position:absolute;
    top:23%
}


.aboutUs  p {
    position: absolute;
    top: 18%;
    line-height: 36px;
    font-size: 20px;
    left: 18px;
    padding:9% 10%
}


img{
    width:40px
}